@page "/bug-reports"
@using Lisa.Models.Entities
@inject BugReportService BugReportService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<PageTitle>Bug Reports</PageTitle>
<AuthorizeView Context="_" Roles="@($"{Roles.SystemAdministrator}")">
    <Authorized>
        <h3>Bug Reports</h3>

        @if (_isLoading)
        {
            <p>Loading bug reports...</p>
        }
        else if (!_bugReports.Any())
        {
            <p>No bug reports found.</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Version</th>
                        <th>Reported By</th>
                        <th>Reported At</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bug in _bugReports)
                    {
                        <tr class="@GetRowClass(bug.Status)">
                            <td>@bug.WhatTried</td>
                            <td>@bug.Version</td>
                            @if (bug.ReportedBy == null || string.IsNullOrWhiteSpace(bug.ReportedBy))
                            {
                                <td>Anonymous</td>
                            }
                            else
                            {
                                <td>@bug.ReportedBy</td>
                            }
                            <td>@bug.ReportedAt.ToString("g")</td>
                            <td>
                                <InputSelect class="form-select" id="SelectBugStatus" TValue="BugReportStatus"
                                    Value="@bug.Status"
                                    ValueChanged="@(async (status) => await UpdateBugStatusAsync(bug, status))"
                                    ValueExpression="@(() => bug.Status)">
                                    <option value="@string.Empty">-- Select Status --</option>
                                    @foreach (var status in Enum.GetValues(typeof(BugReportStatus)).Cast<BugReportStatus>())
                                    {
                                        <option value="@status">@status</option>
                                    }
                                </InputSelect>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" @onclick="() => ViewBugReportAsync(bug)">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <Unauthorized />
    </NotAuthorized>
</AuthorizeView>


@code {
    private List<BugReport> _bugReports = [];
    private bool _isLoading = true;

    private string GetRowClass(BugReportStatus status)
    {
        return status switch
        {
            BugReportStatus.Open => "table-danger",
            BugReportStatus.InProgress => "table-warning",
            BugReportStatus.Resolved => "table-warning",
            BugReportStatus.Closed => "table-success",
            _ => string.Empty
        };
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadBugList();
    }

    private async Task LoadBugList()
    {
        _isLoading = true;

        try
        {
            var allBugs = await BugReportService.GetAllAsync();

            _bugReports = allBugs
            .OrderBy(bug => bug.Status)
            .ThenByDescending(bug => bug.ReportedAt)
            .ToList();
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", $"Error loading bug reports: {ex.Message}");
        }
        finally
        {
            _isLoading = false;
        }
    }

    private async Task UpdateBugStatusAsync(BugReport bug, BugReportStatus newStatus)
    {
        try
        {
            bug.Status = newStatus;

            await BugReportService.UpdateStatusAsync(bug.Id, newStatus);

            await JsRuntime.InvokeVoidAsync("alert", $"Bug ID {bug.Id} status updated successfully!");
            await LoadBugList();
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", $"Error updating status for Bug ID {bug.Id}: {ex.Message}");

        }
    }

    private void ViewBugReportAsync(BugReport bug)
    {
        NavigationManager.NavigateTo($"/bug-reports/details/{bug.Id}");
    }
}
