@page "/schools"
@using Lisa.Models.Entities
@using Lisa.Services
@inject NavigationManager NavigationManager
@inject SchoolService SchoolService

<AuthorizeView Context="authContext" Roles="@Roles.SystemAdministrator">
    <Authorized>
        <h3>Schools</h3>
        <button class="btn btn-primary mb-3" @onclick="() => AddSchool()">
            Add School
        </button>
        @if (schools == null)
        {
            <p>Loading...</p>
        }
        else if (schools.Count == 0)
        {
            <div class="alert alert-info">
                No Schools found, please add a School.
            </div>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Short Name</th>
                        <th>Long Name</th>
                        <th>Color</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var school in schools)
                    {
                        <tr>
                            <td class="align-middle">@school.ShortName</td>
                            <td class="align-middle">@school.LongName</td>
                            <td class="align-middle">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="color-box" style="background-color:@(school.Color);"></div>
                                    @school.Color
                                </div>
                            </td>
                            <ActionButtons TEntity="School" Entity="school" OnView="ViewSchool" OnEdit="EditSchool"
                                OnDelete="ShowConfirmationAsync" />
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized to access this page.</h3>
    </NotAuthorized>
</AuthorizeView>

<ConfirmDialog @ref="Dialog" />
<Modal @ref="ErrorModal" Title="Info">
    <BodyTemplate>
        You can't delete this school because of the following:
        @Exception.Message
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="CloseErrorModal">Ok</Button>
    </FooterTemplate>
</Modal>

@code {
    private List<Lisa.Models.Entities.School>? schools;
    private ConfirmDialog Dialog = default!;
    private Modal ErrorModal = default!;
    private Exception Exception = new();

    protected async override Task OnInitializedAsync()
    {
        schools = await SchoolService.GetAllAsync();
    }

    private void EditSchool(School school)
    {
        NavigationManager.NavigateTo($"schools/edit/{school.Id}");
    }

    private async Task CloseErrorModal()
    {
        ErrorModal.HideAsync();
    }

    private void ViewSchool(School school)
    {
        NavigationManager.NavigateTo($"schools/details/{school.Id}");
    }

    private async Task ShowConfirmationAsync(School School)
    {
        var confirmation = await Dialog.ShowAsync(
        title: $"Are you sure you want to delete {School.ShortName}?",
        message1: "This will delete the record. Once deleted can not be rolled back.",
        message2: "Do you want to proceed?");

        if (confirmation)
        {
            if (School != null)
            {
                try
                {
                    var SchoolToDelete = await SchoolService.GetSchoolAsync(School.Id);

                    if (SchoolToDelete == null)
                    {
                        throw new Exception("School not found.");
                    }

                    if (SchoolToDelete.Administrators.Any()
                    || SchoolToDelete.Learners.Any()
                    || SchoolToDelete.Teachers.Any()
                    || SchoolToDelete.RegisterClasses.Any()
                    )
                    {
                        throw new Exception("School has associated users, learners, or register classes. You need to delete them first.");
                    }

                    EventBus.Publish(new DeleteSchoolEvent { School = School });
                    await SchoolService.DeleteSchoolAsync(School);
                    schools = await SchoolService.GetAllAsync();
                    await InvokeAsync(StateHasChanged);
                }
                catch (Exception ex)
                {
                    Exception = ex;
                    await ErrorModal.ShowAsync();
                }
            }
        }
    }

    private void AddSchool()
    {
        NavigationManager.NavigateTo("schools/add");
    }
}
