@page "/schools/details/{SchoolId:guid}"
@using Lisa.Models.Entities
@inject SchoolService SchoolService
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components

<PageTitle>School Details</PageTitle>
<h3>School Details</h3>

@if (School == null)
{
    <p>Loading...</p>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">Short Name</dt>
        <dd class="col-sm-10">@School.ShortName</dd>

        <dt class="col-sm-2">Long Name</dt>
        <dd class="col-sm-10">@School.LongName</dd>

        <dt class="col-sm-2">Color</dt>
        <dd class="col-sm-10">
            <div style="width: 50px; height: 25px; background-color: @School.Color;"></div>
        </dd>

        <dt class="col-sm-2">School Type</dt>
        <dd class="col-sm-10">@School.SchoolType?.Name</dd>

        <dt class="col-sm-2">Curriculum</dt>
        <dd class="col-sm-10">@School.Curriculum?.Name</dd>
    </dl>

    <h4>SMTP Details</h4>
    <dl class="row">
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@School.SmtpEmail</dd>

        <dt class="col-sm-2">Host</dt>
        <dd class="col-sm-10">@School.SmtpHost</dd>

        <dt class="col-sm-2">Port</dt>
        <dd class="col-sm-10">@School.SmtpPort</dd>
    </dl>

    <button class="btn btn-secondary" @onclick="GoBack">Back to List</button>
}

@code {
    [Parameter]
    public Guid SchoolId { get; set; }

    private School? School;

    protected override async Task OnInitializedAsync()
    {
        School = await SchoolService.GetSchoolAsync(SchoolId);
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/schools");
    }
}
