@page "/email-campaigns"

@using Lisa.Models.Entities
@inject Lisa.Services.EmailCampaignService CampaignService
@inject NavigationManager NavigationManager

<h3>Email Campaigns</h3>

@if (isLoading)
{
    <p>Loading campaigns...</p>
}
else if (EmailCampaignList is not null && EmailCampaignList.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Subject Line</th>
                <th>Created At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var campaign in EmailCampaignList)
            {
                <tr>
                    <td>@campaign.Name</td>
                    <td>@campaign.Status</td>
                    <td>@campaign.SubjectLine</td>
                    <td>@campaign.CreatedAt.ToLocalTime()</td>
                    <td>
                        <button class="btn btn-sm btn-primary" @onclick="@(() => View(campaign.Id.Value))">
                            View
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No campaigns found.</p>
}

@code {
    private bool isLoading = false;
    private List<EmailCampaign>? EmailCampaignList;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        EmailCampaignList = await CampaignService.GetAllAsync();
        isLoading = false;
    }

    private async Task ReloadCampaigns()
    {
        EmailCampaignList = await CampaignService.GetAllAsync();
        StateHasChanged();
    }

    private void View(Guid campaignId)
    {
        NavigationManager.NavigateTo($"/email-campaign/{campaignId}");
    }
}
