@page "/communication/send"
@using Lisa.Models.EmailModels
@using Lisa.Models.Entities
@using RazorLight
@using Lisa.Data
@inject EmailTemplateService EmailTemplateService
@inject EmailService EmailService
@inject IRazorLightEngine _razorLightEngine
@inject ResultService _resultService
@inject NavigationManager NavigationManager
@inject LearnerService LearnerService
@inject SchoolService SchoolService
@inherits EventAwareComponentBase

<PageTitle>Send Communication</PageTitle>
<h3>Send Communication</h3>
<label>Send Communication Per:</label>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="learnerOption" name="communicationTarget"
        value="@CommunicationTarget.Learner" @onchange="OnOptionChanged"
        checked="@(SelectedTarget == CommunicationTarget.Learner)">
    <label class="form-check-label" for="learnerOption">Learner</label>
</div>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="gradeOption" name="communicationTarget"
        value="@CommunicationTarget.Grade" @onchange="OnOptionChanged"
        checked="@(SelectedTarget == CommunicationTarget.Grade)">
    <label class="form-check-label" for="gradeOption">Grade</label>
</div>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="subjectOption" name="communicationTarget"
        value="@CommunicationTarget.Subject" @onchange="OnOptionChanged"
        checked="@(SelectedTarget == CommunicationTarget.Subject)">
    <label class="form-check-label" for="subjectOption">Subject</label>
</div>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="schoolOption" name="communicationTarget"
        value="@CommunicationTarget.School" @onchange="OnOptionChanged"
        checked="@(SelectedTarget == CommunicationTarget.School)">
    <label class="form-check-label" for="schoolOption">School</label>
</div>

@switch (SelectedTarget)
{
    case CommunicationTarget.Learner:
        <p>Learner</p>
        <label for="nameSearch" class="form-label">Search by Name</label>
        <input id="nameSearch" type="text" class="form-control" @oninput="OnSearchTermChanged" @bind="SearchTerm"
            placeholder="Type name..." />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var learner in FilteredLearners)
                {
                    <tr>
                        <td>@learner.FirstName @learner.LastName</td>
                        <td>@learner.RegisterClass?.Grade?.Name</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"
                                @onclick="() => SendCommunicationForLearner(learner)">
                                <i class="bi bi-envelope-arrow-up"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        break;
    case CommunicationTarget.Grade:
        <p>Grade</p>
        break;
    case CommunicationTarget.Subject:
        <p>Subject</p>
        break;
    case CommunicationTarget.School:
        <label>Audience</label>
        <InputSelect class="form-select" id="SelectedSchoolId" TValue="string" Value="@SelectedSchoolAudienceId"
            ValueChanged="OnSchoolAudienceSelected" ValueExpression="@(() => SelectedSchoolAudienceId)">
            <option value="">-- Select Audience --</option>
            <option value="1">Learners</option>
            <option value="2">Staff</option>
            <option value="3">Learners and Staff</option>
        </InputSelect>
        break;
}

@code {
    private CommunicationTarget SelectedTarget { get; set; } = CommunicationTarget.Learner;
    private string? SearchTerm { get; set; }
    private List<Learner> Learners = new();
    private IEnumerable<Learner> FilteredLearners => ApplyFilters();
    private School? SelectedSchool { get; set; }
    private string? SelectedGradeId { get; set; }
    private string? SelectedSchoolAudienceId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SubscribeToEvent(UiEvents.SchoolSelected);
        await LoadData();
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        if (eventName == UiEvents.SchoolSelected)
        {
            SelectedSchool = payload as School;
            await LoadData();
            StateHasChanged();
        }

        await base.HandleEventAsync(eventName, payload);
    }

    private async Task OnSchoolAudienceSelected(string e)
    {
        SelectedSchoolAudienceId = e;
        switch (e)
        {
            case "1":
                await LearnerService.GetLearnersBySchoolAsync(SelectedSchool.Id);
                break;
            case "2":
                break;
            case "3":
                break;
        }
    }

    private async Task LoadData()
    {
        SelectedSchool = SchoolService.GetSelectedSchool();
        Learners = await LearnerService.GetLearnersBySchoolAsync(SelectedSchool.Id);
    }

    private void OnOptionChanged(ChangeEventArgs e)
    {
        if (Enum.TryParse(typeof(CommunicationTarget), e.Value?.ToString(), out var result))
        {
            SelectedTarget = (CommunicationTarget)result;
        }
    }

    private void OnSearchTermChanged(ChangeEventArgs e)
    {
        SearchTerm = e.Value?.ToString();
    }

    private IEnumerable<Learner> ApplyFilters()
    {
        var query = Learners.AsEnumerable();

        if (!string.IsNullOrEmpty(SelectedGradeId))
        {
            query = query.Where(l => l.RegisterClass?.Grade != null
            && l.RegisterClass.Grade.Id == Guid.Parse(SelectedGradeId));
        }

        if (!string.IsNullOrEmpty(SearchTerm))
        {
            var term = SearchTerm.Trim().ToLower();
            query = query.Where(l =>
            ($"{l.FirstName} {l.LastName}").ToLower().Contains(term));
        }

        return query;
    }

    void SendCommunicationForLearner(Learner learner)
    {
        NavigationManager.NavigateTo($"/communication/send/learner/{learner.Id}");
    }

    void SendToAudience(EmailCampaign emailCampaign)
    {
        // Save the email campaign to db with list of email addresses
        NavigationManager.NavigateTo($"/email-campaign/{emailCampaign.Id}");
    }

}
