<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/bootstrap.css"]" />
    <link rel="stylesheet" href="@Assets["lib/quill/quill.snow.css"]">
    <link rel="stylesheet" href="@Assets["lib/bootstrap-icons/bootstrap-icons.css"]">
    <link rel="stylesheet" href="@Assets["_content/Blazored.TextEditor/blazored-text-editor.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Lisa.styles.css"]" />
    <link href="manifest.webmanifest" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="icon-192.png" />
    <ImportMap @rendermode="InteractiveServer" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
    <title>LISA</title>
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="@Assets["lib/chart/popper.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script>navigator.serviceWorker.register('service-worker.js');</script>
    <script src="@Assets["lib/quill/quill.js"]"></script>
    <script src="@Assets["lib/bootstrap/bootstrap.js"]"></script>
    <script src="@Assets["lib/htmx/htmx.js"]"></script>
    <script src="@Assets["_content/Blazored.TextEditor/quill-blot-formatter.min.js"]"></script>
    <script src="@Assets["_content/Blazored.TextEditor/Blazored-BlazorQuill.js"]"></script>
    <script src="@Assets["lib/chart/chart.umd.js"]"></script>
    <script src="@Assets["lib/chart/chartjs-plugin-datalabels.js"]"></script>
    <script src="@Assets["lib/chart/Sortable.js"]"></script>
    <script src="@Assets["_content/Blazor.Bootstrap/blazor.bootstrap.js"]"></script>
    <script>
        window.reloadToMainPage = () => {
            window.location.href = '/';
        };

        document.addEventListener('dragstart', function (e) {
            // Check if the event target has the 'drag-handle' class.
            if (e.target && e.target.classList.contains('drag-handle')) {
                // Set the allowed effect to "move"
                if (e.dataTransfer) {
                    e.dataTransfer.effectAllowed = 'move';

                    // Optionally, set the drag image to the full row with an anchor point
                    var subjectRow = e.target.closest('.subject-row');
                    if (subjectRow) {
                        var rect = subjectRow.getBoundingClientRect();
                        var offsetX = e.clientX - rect.left;
                        var offsetY = e.clientY - rect.top;
                        e.dataTransfer.setDragImage(subjectRow, offsetX, offsetY);
                    }
                }
            }
        });

        document.addEventListener('dragover', function (e) {
            // Look for the nearest drop zone using the .subject-row class.
            var dropZone = e.target.closest('.subject-row');
            if (dropZone && e.dataTransfer) {
                // Set dropEffect to "move" to indicate that dropping is allowed.
                e.dataTransfer.dropEffect = 'move';
            }
        });
    </script>
</body>

</html>
