@page "/"
@rendermode InteractiveServer
@using Lisa.Models.Entities
@inherits LayoutComponentBase
@inject SchoolService SchoolService
@inject LearnerService LearnerService
@inject ResultService ResultService
@inject BugReportService BugService
@inject NavigationManager NavigationManager

<PageTitle>DCEG Portal</PageTitle>

<AuthorizeView Context="authContext" Roles="@($"{Roles.SystemAdministrator}")">
    <Authorized>
        <div class="container mt-4">
            <div class="text-center py-3">
                <h3>Learner Information System Dashboard</h3>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Welcome System Administrator</h3>
                            <p class="card-text">An overview of all schools.</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body bg-light">
                                    <h4 class="card-title">Schools</h4>
                                    <p class="card-text display-4">@SchoolCount</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body bg-light">
                                    <h4 class="card-title">Learners</h4>
                                    <p class="card-text display-4">@LearnerCount</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body bg-light">
                                    <h4 class="card-title">Results Submitted</h4>
                                    <p class="card-text display-4">@ResultCount</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" @onclick="NavigateToBugReport">
                            <div class="card text-center">
                                <div class="card-body bg-light">
                                    <h4 class="card-title">Bugs</h4>
                                    <p class="card-text display-4">@BugCount</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Unauthenticated />
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Context="authContext" Roles="@($"{Roles.Teacher}")">
    <Authorized>
        <p>You are a Teacher</p>
    </Authorized>
</AuthorizeView>

@code {
    int SchoolCount;
    int LearnerCount;
    int ResultCount;
    int BugCount;

    protected async override Task OnInitializedAsync()
    {
        SchoolCount = await SchoolService.GetCountAsync();
        ResultCount = await ResultService.GetCountAsync();
        LearnerCount = await LearnerService.GetCountAsync();
        BugCount = await BugService.GetCountAsync();
    }

    private void NavigateToBugReport()
    {
        NavigationManager.NavigateTo("/bug-report");
    }
}
