@page "/"
@rendermode InteractiveServer
@using Lisa.Models.Entities
@inherits LayoutComponentBase
@inject SchoolService SchoolService
@inject LearnerService LearnerService
@inject ResultService ResultService
@inject BugReportService BugService
@inject NavigationManager NavigationManager

<PageTitle>DCEG Portal</PageTitle>

<AuthorizeView Context="authContext">
    <Authorized>
        <!-- System Administrator View -->
        <AuthorizeView Roles="@($"{Roles.SystemAdministrator}")">
            <Authorized>
                @if (Loading)
                {
                    <div class="text-center">
                        <p>Loading...</p>
                    </div>
                }
                else
                {
                    <div class="container mt-4">
                        <div class="text-center py-3">
                            <h3>Learner Information System Dashboard</h3>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="card-title">Welcome System Administrator</h3>
                                        <p class="card-text">An overview of all schools.</p>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <div class="card text-center">
                                            <div class="card-body bg-light">
                                                <h4 class="card-title">Schools</h4>
                                                <p class="card-text display-4">@SchoolCount</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card text-center">
                                            <div class="card-body bg-light">
                                                <h4 class="card-title">Learners</h4>
                                                <p class="card-text display-4">@LearnerCount</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card text-center">
                                            <div class="card-body bg-light">
                                                <h4 class="card-title">Results Submitted</h4>
                                                <p class="card-text display-4">@ResultCount</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-4" @onclick="NavigateToBugReports" style="cursor: pointer;"
                                        onmouseover="this.style.backgroundColor='#f0f0f0';"
                                        onmouseout="this.style.backgroundColor='';">
                                        <div class="card text-center">
                                            <div class="card-body bg-light">
                                                <h4 class="card-title">Bugs</h4>
                                                <p class="card-text display-4">@BugCount</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </Authorized>
        </AuthorizeView>
        <!-- Teacher View -->
        <AuthorizeView
            Roles="@($"{Roles.Teacher}, {Roles.Principal}, {Roles.SystemAdministrator}, {Roles.Administrator}")">
            <Authorized>
                @if (Loading)
                {
                    <div class="text-center">
                        <p>Loading...</p>
                    </div>
                }
                else if (SelectedSchool != null)
                {
                    <div class="container mt-4">
                        <div class="text-center py-3">
                            <h3>Welcome to the Learner Information System</h3>
                            <h3>@SelectedSchool.LongName</h3>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <div class="card text-center">
                                            <div class="card-body bg-light">
                                                <h4 class="card-title">Learners</h4>
                                                <p class="card-text display-4">@SchoolLearnerCount</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card text-center">
                                            <div class="card-body bg-light">
                                                <h4 class="card-title">Results Submitted</h4>
                                                <p class="card-text display-4">@SchoolResultCount</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        The System could not find the school that you are assigned to. Please log a bug.
                    </div>
                }
            </Authorized>
        </AuthorizeView>

    </Authorized>
    <NotAuthorized>
        <Unauthenticated />
    </NotAuthorized>
</AuthorizeView>

@code {
    bool Loading = false;
    int SchoolCount;
    int ResultCount;
    int LearnerCount;
    int BugCount;

    School? SelectedSchool;
    int SchoolResultCount;
    int SchoolLearnerCount;


    protected async override Task OnInitializedAsync()
    {
        Loading = true;
        SchoolCount = await SchoolService.GetCountAsync();
        ResultCount = await ResultService.GetCountAsync();
        LearnerCount = await LearnerService.GetCountAsync();
        BugCount = await BugService.GetCountAsync();
        SelectedSchool = await SchoolService.GetSelectedSchoolAsync();

        if (SelectedSchool != null)
        {
            SchoolResultCount = await ResultService.GetCountAsync(SelectedSchool.Id);
            SchoolLearnerCount = await LearnerService.GetCountAsync(SelectedSchool.Id);
        }
        Loading = false;
    }

    private void NavigateToBugReports()
    {
        NavigationManager.NavigateTo("/bug-reports");
    }
}
