@page "/capture-results"
@using System.ComponentModel.DataAnnotations
@using Lisa.Models.Entities
@using Lisa.Models.ViewModels
@using Lisa.Services
@using System.Security.Claims
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Navigation
@inject SchoolService SchoolService
@inject LearnerService LearnerService
@inject GradeService GradeService
@inject SubjectService SubjectService
@inject ILogger<Result> Logger
@inject UserService UserService
@inject ResultService ResultService
@inherits EventAwareComponentBase

<AuthorizeView Context="AuthContext"
    Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.SchoolManagement},{Roles.Administrator}")">
    <Authorized>
        <PageTitle>Capture Results</PageTitle>
        <h3>Capture Results</h3>
        @if (SelectedSchool == null)
        {
            <div class="alert alert-info" role="alert">
                Please select a school to capture results.
            </div>
        }
        else if (Loading)
        {
            <p>Loading...</p>
        }
        else
        {
            <div class="col mb-3 mx-3">
                <div class="row">
                    <label for="gradeDropdown">Grade</label>
                    <InputSelect class="form-select" id="gradeDropdown" TValue="string" Value="@gradeId"
                        ValueChanged="@(async (value) => await OnGradeChange(value))" ValueExpression="@(() => gradeId)">
                        <option value="">-- Select Grade --</option>
                        @foreach (var grade in Grades)
                        {
                            <option value="@grade.Id">@grade.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="row">
                    <label for="subjectDropdown">Subject</label>
                    <InputSelect class="form-select" id="subjectDropdown" TValue="string" Value="@subjectId"
                        ValueChanged="@(async (value) => await OnSubjectChange(value))"
                        ValueExpression="@(() => subjectId)">
                        <option value="">-- Select Subject --</option>
                        @foreach (var subject in Subjects)
                        {
                            <option value="@subject.Id">@subject.Name</option>
                        }
                    </InputSelect>
                </div>
            </div>
            @if (Grades.Any())
            {
                @if (LearnerResults.Any())
                {
                    <div>
                        <label for="resultDate" class="form-label">Select the Date of the Test or Assignment:</label>
                        <InputDate @bind-Value="SelectedResultDate" class="form-control" id="resultDate" />
                    </div>

                    <label>Assessment Topic</label>
                    <InputText @bind-Value="AssessmentTopic"></InputText>
                    <label>Assessment Type</label>
                    <InputText @bind-Value="AssessmentType"></InputText>

                    <hr />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Score</th>
                                <th>Absent?</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var entry in LearnerResults)
                            {
                                <tr>
                                    <td>@entry.LearnerName</td>
                                    <td>
                                        <InputNumber @bind-Value="entry.ResultViewModel.Score" class="form-control" min="0" max="100"
                                            step="1" />
                                    </td>
                                    <td>
                                        <InputCheckbox @bind-Value="entry.ResultViewModel.Absent" />
                                    </td>
                                    <td>
                                        @if (entry.ResultViewModel.Absent)
                                        {
                                            <InputText @bind-Value="entry.ResultViewModel.AbsentReason" class="form-control" />
                                        }
                                        else
                                        {
                                            <InputText style="display:none;" @bind-Value="entry.ResultViewModel.AbsentReason"
                                                class="form-control" />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <button class="btn btn-primary mb-3" @onclick="SaveResults">Save Results</button>
                }
                else
                {
                    <div class="alert alert-info">
                        No Learners found for the selected filters.
                    </div>
                }
            }
            else
            {
                <div class="alert alert-info">
                    Please select a grade and subject to capture results.
                </div>
            }
        }
    </Authorized>
    <NotAuthorized>
        <Unauthorized />
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<Grade> Grades = new();
    private List<Subject> Subjects = new();
    private School? SelectedSchool;
    private List<LearnerResult> LearnerResults = new();
    private DateTime SelectedResultDate { get; set; } = DateTime.Today;
    private ClaimsPrincipal User { get; set; }
    private string? AssessmentTopic { get; set; }
    private string? AssessmentType { get; set; }
    private bool Loading = true;

    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "g")]
    public string? gradeId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "s")]
    public string? subjectId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SelectedSchool = SchoolService.GetSelectedSchool();
        SubscribeToEvent(UiEvents.SchoolSelected);
        await LoadDropdowns();

        var authState = await authenticationStateTask;
        User = authState.User;

        if (User.Identity.IsAuthenticated)
        {
            Console.WriteLine($"{User.Identity.Name} is authenticated.");
        }

        Loading = false;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (SelectedSchool == null)
        {
            Loading = false;
            return;
        }

        await LoadDropdowns();

        if (!string.IsNullOrWhiteSpace(gradeId) && !string.IsNullOrWhiteSpace(subjectId))
        {
            await LoadLearners();
        }
        else
        {
            Loading = false;
        }
    }

    private async Task OnGradeChange(string value)
    {
        gradeId = value;
        await UpdateQueryParameters();
    }

    private async Task OnSubjectChange(string value)
    {
        subjectId = value;
        await UpdateQueryParameters();
    }

    private async Task UpdateQueryParameters()
    {
        var uri = new Uri(Navigation.Uri);
        var queryParams = new Dictionary<string, string?>
            {
                ["g"] = gradeId,
                ["s"] = subjectId
            };

        var newUri = QueryHelpers.AddQueryString(uri.AbsolutePath, queryParams);
        Navigation.NavigateTo(newUri);

        await LoadLearners();
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                SelectedSchool = payload as School;
                await LoadDropdowns();
                break;
        }

        await base.HandleEventAsync(eventName, payload);
    }

    private async Task LoadGrades()
    {
        if (SelectedSchool != null)
        {
            Grades = await GradeService.GetGradesForSchool(SelectedSchool.Id);
        }
        else
        {
            Logger.LogError("SelectedSchool was null when trying to load grades.");
        }
    }

    private async Task LoadDropdowns()
    {
        SelectedSchool = SchoolService.GetSelectedSchool();

        if (SelectedSchool != null)
        {
            Subjects = await SubjectService.GetAllAsync();
            Grades = await GradeService.GetGradesForSchool(SelectedSchool.Id);
        }
        else
        {
            Subjects = new List<Subject>();
            Logger.LogError("SelectedSchool was null when trying to load subjects on combination page.");
        }
    }

    private async Task LoadLearners()
    {
        if (string.IsNullOrEmpty(gradeId) ||string.IsNullOrEmpty(gradeId))
            return;

        Loading = true;

        try
        {
            var learners = await LearnerService.GetLearnersWithTheirSubjectsByGradeAsync(Guid.Parse(gradeId));

            LearnerResults = new List<LearnerResult>();

            foreach (var learner in learners)
            {
                if (learner.LearnerSubjects != null && learner.LearnerSubjects.Any(ls => ls.SubjectId == int.Parse(subjectId)))
                {
                    LearnerResults.Add(new LearnerResult
                        {
                            LearnerId = learner.Id,
                            LearnerName = $"{learner.FirstName} {learner.LastName}",
                            ResultViewModel = new ResultViewModel()
                        });
                }

            }

            if (!LearnerResults.Any())
            {
                Logger.LogInformation("No learners found with the selected subject in the selected grade.");
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error loading learners.");
        }
        finally
        {
            Loading = false;
        }
    }

    private async Task SaveResults()
    {
        foreach (var entry in LearnerResults)
        {
            var result = new Result
                {
                    Id = Guid.NewGuid(),
                    LearnerId = entry.LearnerId,
                    SubjectId = int.Parse(subjectId),
                    Score = entry.ResultViewModel.Score,
                    AssessmentType = AssessmentType,
                    AssessmentTopic = AssessmentTopic,
                    Absent = entry.ResultViewModel.Absent,
                    AbsentReason = entry.ResultViewModel.AbsentReason,
                    ResultDate = DateTime.SpecifyKind(SelectedResultDate, DateTimeKind.Utc),
                    CreatedAt = DateTime.UtcNow,
                    UpdatedAt = DateTime.UtcNow,
                };
            await ResultService.CreateAsync(result);

            Logger.LogInformation($"Result for {entry.LearnerName} saved successfully.");

        }

        Navigation.NavigateTo($"/results?g={gradeId}&s={subjectId}");
    }

    private class LearnerResult
    {
        public Guid LearnerId { get; set; }
        public string LearnerName { get; set; } = string.Empty;
        public ResultViewModel ResultViewModel { get; set; } = new();
    }
}
