@page "/results"
@using Lisa.Models.Entities
@using Microsoft.AspNetCore.WebUtilities
@inject ResultService ResultService
@inject SchoolService SchoolService
@inject GradeService GradeService
@inject SubjectService SubjectService
@inject NavigationManager Navigation
@inject ILogger<ResultsList> Logger

@inherits EventAwareComponentBase


<AuthorizeView Context="AuthContext"
    Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.SchoolManagement},{Roles.Administrator}")">
    <Authorized>
        <PageTitle>Results</PageTitle>
        <h3>Results</h3>
        @if (SelectedSchool == null)
        {
            <div class="alert alert-info">
                Please select a school to view results.
            </div>
        }
        else if (Loading)
        {
            <p>Loading results...</p>
        }
        else
        {
            <div class="col mb-3 mx-3">
                <div class="row">
                    <label for="gradeDropdown">Grade</label>
                    <InputSelect class="form-select" id="gradeDropdown" TValue="string" Value="@gradeId"
                        ValueChanged="@(async (value) => await OnGradeChange(value))" ValueExpression="@(() => gradeId)">
                        <option value="">-- Select Grade --</option>
                        @foreach (var grade in Grades)
                        {
                            <option value="@grade.Id">@grade.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="row">
                    <label for="subjectDropdown">Subject</label>
                    <InputSelect class="form-select" id="subjectDropdown" TValue="string" Value="@subjectId"
                        ValueChanged="@(async (value) => await OnSubjectChange(value))"
                        ValueExpression="@(() => subjectId)">
                        <option value="">-- Select Subject --</option>
                        @foreach (var subject in Subjects)
                        {
                            <option value="@subject.Id">@subject.Name</option>
                        }
                    </InputSelect>
                </div>
            </div>

            @if (!string.IsNullOrWhiteSpace(gradeId) && !string.IsNullOrWhiteSpace(subjectId))
            {
                @if (Results.Any())
                {
                    <div class="rounded overflow-hidden shadow-sm mb-3">
                        <Grid TItem="Result" Class="table table-hover table-bordered table-striped rounded shadow-sm"
                            DataProvider="LoadResults" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true"
                            Responsive="true">

                            <GridColumns>
                                <GridColumn TItem="Result" HeaderText="Student" PropertyName="FullName">
                                    @context.Learner?.FirstName @context.Learner?.LastName
                                </GridColumn>

                                <GridColumn TItem="Result" HeaderText="Score" PropertyName="Score" FilterTextboxWidth="50">
                                    @if (context.Absent)
                                    {
                                        <div>Absent</div>
                                    }
                                    else
                                    {
                                        <div>@context.Score.ToString("0")</div>
                                    }
                                </GridColumn>

                                <GridColumn TItem="Result" HeaderText="Date" PropertyName="ResultDate">
                                    @context.ResultDate.ToString("yyyy-MM-dd")
                                </GridColumn>

                                <GridColumn TItem="Result" HeaderText="Assessment Type" PropertyName="AssessmentType">
                                    @context.AssessmentType
                                </GridColumn>

                                <GridColumn TItem="Result" HeaderText="Topic" PropertyName="AssessmentTopic">
                                    @context.AssessmentTopic
                                </GridColumn>

                                <GridColumn TItem="Result" HeaderText="Created On" PropertyName="CreatedAt">
                                    @context.CreatedAt
                                </GridColumn>

                                <GridColumn TItem="Result" HeaderText="Absent Reason" PropertyName="AbsentReason">
                                    @context.AbsentReason
                                </GridColumn>

                                <GridColumn TItem="Result" HeaderText="Actions" FilterTextboxWidth="50">
                                    <button class="btn btn-sm btn-primary" @onclick="() => EditResult(context.Id)">
                                        <Icon Name="IconName.Pencil" />Edit
                                    </button>
                                </GridColumn>
                            </GridColumns>
                        </Grid>
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        No results found for the selected filters.
                    </div>
                }
            }
            else
            {
                <div class="alert alert-info">
                    Please select a grade and subject to view results.
                </div>
            }
        }
    </Authorized>
    <NotAuthorized>
        <Unauthorized />
    </NotAuthorized>
</AuthorizeView>

@code {
    School? SelectedSchool { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "g")]
    public string? gradeId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "s")]
    public string? subjectId { get; set; }

    private List<Result> Results = new();
    private List<Grade> Grades = new();
    private List<Subject> Subjects = new();
    private bool Loading = true;

    protected override async Task OnInitializedAsync()
    {
        SelectedSchool = SchoolService.GetSelectedSchool();
        SubscribeToEvent(UiEvents.SchoolSelected);

        if (SelectedSchool != null)
        {
            await LoadFilters();

            if (!string.IsNullOrWhiteSpace(gradeId) && !string.IsNullOrWhiteSpace(subjectId))
            {
                await LoadResults(null!);
            }
            else
            {
                Loading = false;
            }
        }
        else
        {
            Loading = false;
        }
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        if (eventName == UiEvents.SchoolSelected)
        {
            if (payload is School school)
            {
                SelectedSchool = school;
                await LoadFilters();
                await InvokeAsync(StateHasChanged);
            }
        }

        await base.HandleEventAsync(eventName, payload);
    }

    private async Task LoadFilters()
    {
        try
        {
            if (SelectedSchool != null)
            {
                Grades = await GradeService.GetGradesForSchool(SelectedSchool.Id);
            }
            else
            {
                Logger.LogWarning("Selected School was null when trying to load grades.");
            }
            Subjects = await SubjectService.GetAllAsync();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to load filters.");
        }
    }

    private async Task<GridDataProviderResult<Result>> LoadResults(GridDataProviderRequest<Result> request)
    {
        try
        {
            Loading = true;

            if (Results is null || !Results.Any())
            {
                if (SelectedSchool == null)
                {
                    Logger.LogWarning("SelectedSchool is null. Cannot load results.");
                    return new GridDataProviderResult<Result>
                        {
                            Data = new List<Result>(),
                            TotalCount = 0
                        };
                }

                if (Guid.TryParse(gradeId, out var parsedGradeId) &&
                int.TryParse(subjectId, out var parsedSubjectId))
                {
                    Results = await ResultService.GetResultsByFiltersAsync(
                    SelectedSchool.Id,
                    parsedGradeId,
                    parsedSubjectId
                    );
                }
                else
                {
                    Logger.LogWarning("Invalid gradeId or subjectId. Cannot load results.");
                    Results = new List<Result>();
                }
            }

            if (request == null)
            {
                return new GridDataProviderResult<Result>
                    {
                        Data = Results,
                        TotalCount = Results.Count
                    };
            }

            return request.ApplyTo(Results);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to load results.");
            return new GridDataProviderResult<Result>
                {
                    Data = new List<Result>(),
                    TotalCount = 0
                };
        }
        finally
        {
            Loading = false;
        }
    }

    private async Task OnGradeChange(string value)
    {
        gradeId = value;
        await UpdateQueryParameters();
    }

    private async Task OnSubjectChange(string value)
    {
        subjectId = value;
        await UpdateQueryParameters();
    }

    private async Task UpdateQueryParameters()
    {
        var uri = new Uri(Navigation.Uri);
        var queryParams = new Dictionary<string, string?>
            {
                ["g"] = gradeId,
                ["s"] = subjectId
            };

        var newUri = QueryHelpers.AddQueryString(uri.AbsolutePath, queryParams);
        Navigation.NavigateTo(newUri);

        // Force the grid to reload data
        // If your library has a built-in method to refresh the data, call that.
        await LoadResults(null!);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (SelectedSchool == null)
        {
            Loading = false;
            return;
        }

        await LoadFilters();

        if (!string.IsNullOrWhiteSpace(gradeId) && !string.IsNullOrWhiteSpace(subjectId))
        {
            await LoadResults(null!);
        }
        else
        {
            Loading = false;
        }
    }

    private void EditResult(Guid resultId)
    {
        Navigation.NavigateTo($"results/edit/{resultId}");
    }
}
