@inherits LayoutComponentBase

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="images/logo.png" alt="DCEG Logo" width="60" height="60" class="me-2" />
            DCEG LEARN
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Context="_" Roles="@Roles.SystemAdministrator">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="schools">
                    <span class="bi bi-mortarboard-nav-menu" aria-hidden="true"></span> Schools
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Context="_" Roles="@($"{Roles.SystemAdministrator},{Roles.Principal}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="care-groups">
                    <span class="bi care-groups-icon" aria-hidden="true"></span> Care Groups
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Context="_" Roles="@($"{Roles.SystemAdministrator},{Roles.Principal}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="bi principal-icon" aria-hidden="true"></span> Staff
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="grades">
                    <span class="bi grades-icon" aria-hidden="true"></span> Grades
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Context="_" Roles="@($"{Roles.SystemAdministrator},{Roles.Principal}")">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register-class">
                        <span class="bi register-classes-icon" aria-hidden="true"></span> Register Class
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Context="_" Roles="@Roles.SystemAdministrator">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="subjects">
                    <span class="bi subject-icon" aria-hidden="true"></span> Subjects
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Context="_" Roles="@Roles.SystemAdministrator">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="assessment-types">
                    <span class="bi subject-icon" aria-hidden="true"></span> Assessment Types
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Context="_" Roles="@($"{Roles.SystemAdministrator}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="sign-in-and-out">
                    <span class="bi attendance-icon" aria-hidden="true"></span> Sign In / Out
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Context="_" Roles="@($"{Roles.SystemAdministrator},{Roles.Teacher}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="daily-register">
                    <span class="bi daily-register-icon" aria-hidden="true"></span> Daily Attendance
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Context="_" Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.Administrator},{Roles.Teacher}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="per-period-attendance">
                    <span class="bi bi-clock" aria-hidden="true"></span> Per Period Attendance
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Context="_" Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.Reception}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="leave-early">
                    <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Leave Early
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Context="_" Roles="@($"{Roles.SystemAdministrator},{Roles.Principal}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="combinations">
                    <span class="bi combination-icon" aria-hidden="true"></span> Combinations
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Context="_"
            Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.SchoolManagement},{Roles.Administrator}")">

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="learners">
                    <span class="bi bi-mortarboard-nav-menu" aria-hidden="true"></span> Learners
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Context="_"
            Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.SchoolManagement},{Roles.Administrator},{Roles.Teacher}")">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="class-lists" Match="NavLinkMatch.All">
                        <span class="bi class-list-icon" aria-hidden="true"></span> Class Lists
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Context="_"
            Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.SchoolManagement},{Roles.Administrator},{Roles.Teacher}")">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="results/manage" Match="NavLinkMatch.All">
                        <span class="bi marks-icon" aria-hidden="true"></span> Capture Results
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Context="_"
            Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.SchoolManagement},{Roles.Administrator},{Roles.Teacher}")">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="results" Match="NavLinkMatch.All">
                        <span class="bi marks-icon" aria-hidden="true"></span> Results
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Context="_"
            Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.SchoolManagement},{Roles.Administrator},{Roles.Teacher}")">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="progress-feedback">
                        <span class="bi marks-icon" aria-hidden="true"></span> Progress Feedback
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Context="_"
            Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.SchoolManagement}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="communication">
                    <span class="bi communication-icon" aria-hidden="true"></span> Communication
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Context="_"
            Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.SchoolManagement}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="email-campaigns">
                    <span class="bi communication-icon" aria-hidden="true"></span> Email Campaigns
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Context="_"
            Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.SchoolManagement},{Roles.Administrator},{Roles.Teacher}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="adi-creator">
                    <span class="bi bi-plus-circle" aria-hidden="true"></span> ADI Creator
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>
