@page "/teachers"
@using Lisa.Data
@using Lisa.Models.Entities
@using Lisa.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject UserManager<User> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@inject SchoolService SchoolService
@inherits EventAwareComponentBase
@inject TeacherService TeacherService

<PageTitle>Teachers</PageTitle>

<AuthorizeView Context="authContext" Roles="@($"{Roles.SystemAdministrator},{Roles.Teacher}")">
    <Authorized>
        @if (IsLoading)
        {
            <p>Loading...</p>
        }
        else
        {
            <div class="mb-4">
                <h3>Teachers for @SelectedSchool.ShortName</h3>
                <button class="btn btn-primary" @onclick="AddTeacher">Add Teacher</button>
                @if (Teachers == null)
                {
                    <p>Loading...</p>
                }
                else if (!Teachers.Any())
                {
                    <div class="alert alert-info">
                        No teachers found for <strong>@SelectedSchool.ShortName</strong>.
                    </div>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var teacher in Teachers)
                            {
                                <tr>
                                    <td>@teacher.FirstName @teacher.LastName</td>
                                    <td>@teacher.Email</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm"
                                            @onclick="() =>  ViewTeacher(teacher.Id)">View</button>
                                        <button class="btn btn-secondary btn-sm"
                                            @onclick="() => EditTeacher(teacher.Id)">Edit</button>
                                        <button class="btn btn-danger btn-sm"
                                            @onclick="async () => { await DeleteTeacher(teacher.Id);}">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this page.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<Lisa.Models.Entities.Teacher>? Teachers;
    private Teacher NewTeacher = new Teacher();
    private School? SelectedSchool;
    private bool IsLoading = false;

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        SubscribeToEvent(UiEvents.SchoolSelected);
        SubscribeToEvent(UiEvents.SchoolsUpdated);
        SelectedSchool = SchoolService.GetSelectedSchool();

        var user = HttpContextAccessor.HttpContext?.User != null
        ? await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User)
        : null;

        if (user != null)
        {
            if (SelectedSchool != null)
            {
                Teachers = await TeacherService.GetTeachersForSchoolAsync(SelectedSchool.Id);
            }
        }
        IsLoading = false;
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        // Handle the events and update the state
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                // Cast Payload to a School
                SelectedSchool = payload as School;
                Teachers = await TeacherService.GetTeachersForSchoolAsync(SelectedSchool.Id);
                break;
            case UiEvents.TeachersUpdated:
                Teachers = await TeacherService.GetTeachersForSchoolAsync(SelectedSchool.Id);
                break;
            case UiEvents.SchoolsUpdated:
                SelectedSchool = SchoolService.GetSelectedSchool();
                Teachers = await TeacherService.GetTeachersForSchoolAsync(SelectedSchool.Id);
                break;
        }

        // Ensure state change
        await base.HandleEventAsync(eventName, payload);
    }

    private async Task DeleteTeacher(Guid teacherId)
    {
        IsLoading = true;
        await TeacherService.DeleteAsync(teacherId);
        IsLoading = false;
    }

    private void AddTeacher()
    {
        NavigationManager.NavigateTo("/teachers/add");
    }
    private void EditTeacher(Guid teacherId)
    {
        NavigationManager.NavigateTo($"/teachers/edit/{teacherId}");
    }

    private void ViewTeacher(Guid teacherId)
    {
        NavigationManager.NavigateTo($"/teachers/details/{teacherId}");
    }
}