@page "/teachers"
@using Lisa.Components.Layout
@using Lisa.Data
@using Lisa.Models.Entities
@using Lisa.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject SchoolService SchoolService
@inherits EventAwareComponentBase
@inject UserService UserService
@inject ILogger<TeacherList> Logger

<PageTitle>Teachers</PageTitle>

<AuthorizeView Context="authContext" Roles="@($"{Roles.SystemAdministrator},{Roles.Teacher}")">
    <Authorized>
        @if (SelectedSchool == null)
        {
            <div class="alert alert-info">
                Please select a school to view teachers.
            </div>
        }
        else if (IsLoading)
        {
            <p>Loading...</p>
        }
        else
        {
            <div class="mb-4">
                
                <h3>Teachers for @SelectedSchool.ShortName</h3>

                <button class="btn btn-primary mb-3" @onclick="AddTeacher">Add Teacher</button>

                @if (Teachers == null)
                {
                    <p>Loading...</p>
                }
                else if (!Teachers.Any())
                {
                    @if (SelectedSchool != null)
                    {
                        <div class="alert alert-info">
                            No teachers found for <strong>@SelectedSchool.ShortName</strong>.
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            No teachers found.
                        </div>
                    }
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var teacher in Teachers)
                            {
                                <tr>
                                    <td>@teacher.FirstName @teacher.LastName</td>
                                    <td>@teacher.Email</td>
                                    <ActionButtons TEntity="Teacher" Entity="teacher" OnView="ViewTeacher" OnEdit="EditTeacher"
                                        OnDelete="DeleteTeacher" />
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this page.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<Lisa.Models.Entities.Teacher>? Teachers;
    private Teacher NewTeacher = new Teacher();
    private School? SelectedSchool;
    private bool IsLoading = false;

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        SelectedSchool = SchoolService.GetSelectedSchool();
        SubscribeToEvent(UiEvents.SchoolSelected);
        SubscribeToEvent(UiEvents.SchoolsUpdated);

        if (SelectedSchool != null)
        {
            Teachers = await UserService.GetAllByRoleAndSchoolAsync<Teacher>(SelectedSchool.Id);
        }

        IsLoading = false;
    }

    public async Task LoadTeachers()
    {
        if (SelectedSchool != null)
        {
            Teachers = await UserService.GetAllByRoleAndSchoolAsync<Teacher>(SelectedSchool.Id);
            await InvokeAsync(StateHasChanged);
        }
        else
        {
            Logger.LogError("SelectedSchool was null when trying to load teachers.");
        }
    }
    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        // Handle the events and update the state
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                // Cast Payload to a School
                SelectedSchool = payload as School;
                await LoadTeachers();
                break;
            case UiEvents.TeachersUpdated:
                await LoadTeachers();
                break;
            case UiEvents.SchoolsUpdated:
                SelectedSchool = SchoolService.GetSelectedSchool();
                await LoadTeachers();
                break;
        }

        // Ensure state change
        await base.HandleEventAsync(eventName, payload);
    }

    private void DeleteTeacher(Teacher teacher)
    {
        NavigationManager.NavigateTo($"/teacher/delete/{teacher.Id}");
    }

    private void AddTeacher()
    {
        NavigationManager.NavigateTo("/teachers/add");
    }
    private void EditTeacher(Teacher teacher)
    {
        NavigationManager.NavigateTo($"/teachers/edit/{teacher.Id}");
    }

    private void ViewTeacher(Teacher teacher)
    {
        NavigationManager.NavigateTo($"/teachers/details/{teacher.Id}");
    }
}