@page "/care-groups"
@using Lisa.Models.Entities
@inject NavigationManager Navigation
@inject CareGroupService CareGroupService
@inject SchoolService SchoolService
@inherits EventAwareComponentBase

<PageTitle>Care Groups</PageTitle>
<AuthorizeView Roles="@Roles.SystemAdministrator">
    <Authorized>
        <h3>Care Groups</h3>

        @if (SelectedSchool == null)
        {
            <div class="alert alert-info">
                Please select a school to view care groups.
            </div>
        }
        else if (CareGroups == null)
        {
            <p>Loading...</p>
        }
        else if (!CareGroups.Any())
        {
            <button class="btn btn-primary mb-3" @onclick="AddCareGroup">Add Care Group</button>
            <div class="alert alert-info">
                No Care Groups for <strong>@SelectedSchool.ShortName</strong>.
            </div>
        }
        else
        {
            <button class="btn btn-primary mb-3" @onclick="AddCareGroup">Add Care Group</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Teacher</th>
                        <th>Learner Count</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var careGroup in CareGroups)
                    {
                        <tr>
                            <td>@careGroup.Name</td>
                            <td>
                                @if (@careGroup.Users != null)
                                {
                                    foreach (var user in careGroup.Users)
                                    {
                                        if (user.Roles.Contains(Roles.Teacher))
                                        {
                                            <Pill Color="primary" AdditionalClasses="me-2">
                                                @user.Abbreviation
                                            </Pill>
                                            @($"{user.Surname} {user.Name}")
                                        }
                                    }
                                }
                                else
                                {
                                    <Pill Color="danger" AdditionalClasses="me-2">No Teacher</Pill>
                                }
                            </td>
                            <td>@careGroup.CareGroupMembers?.Count().ToString()
                            </td>
                            <ActionButtons TEntity="CareGroup" Entity="careGroup" OnView="ViewCareGroup" OnEdit="EditCareGroup"
                                OnDelete="DeleteCareGroup" />
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <Unauthorized />
    </NotAuthorized>
</AuthorizeView>

@code {
    private IEnumerable<CareGroup>? CareGroupsToFilter;
    private IEnumerable<CareGroup>? CareGroups;
    private School? SelectedSchool;

    protected override async Task OnInitializedAsync()
    {
        SelectedSchool = SchoolService.GetSelectedSchool();
        CareGroupsToFilter = await CareGroupService.GetAllAsync();
        CareGroups = CareGroupsToFilter.Where(c => c.SchoolId == SelectedSchool?.Id);
        SubscribeToEvent(UiEvents.SchoolSelected);
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                if (payload is School school)
                {
                    SelectedSchool = school;
                    if (CareGroupsToFilter != null)
                    {
                        CareGroups = CareGroupsToFilter.Where(c => c.SchoolId == SelectedSchool.Id);
                    }
                }
                break;
        }

        await base.HandleEventAsync(eventName, payload);
    }

    private void AddCareGroup()
    {
        Navigation.NavigateTo("/care-groups/manage");
    }

    private void EditCareGroup(CareGroup careGroup)
    {
        Navigation.NavigateTo($"/care-groups/manage/{careGroup.Id}");
    }
    private void ViewCareGroup(CareGroup careGroup)
    {
        Navigation.NavigateTo($"/care-groups/details/{careGroup.Id}");
    }
    private async Task DeleteCareGroup(CareGroup careGroup)
    {
        var CareGroup = await CareGroupService.GetByIdAsync(careGroup.Id);
        if (CareGroup != null)
        {
            await CareGroupService.DeleteAsync(CareGroup);
            CareGroupsToFilter = await CareGroupService.GetAllAsync();
            CareGroups = CareGroupsToFilter.Where(c => c.SchoolId == SelectedSchool.Id);
            await InvokeAsync(StateHasChanged);
        }
    }
}
