@page "/users/details/{UserId:guid}"
@using Lisa.Models.Entities
@inject NavigationManager Navigation
@inject UserService UserService

<PageTitle>User Details</PageTitle>

<h3>User Details</h3>

@if (User == null)
{
    <p>Loading user...</p>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">Surname</dt>
        <dd class="col-sm-10">@User.Surname</dd>

        <dt class="col-sm-2">Abbreviation</dt>
        <dd class="col-sm-10">@User.Abbreviation</dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@User.Name</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@User.Email</dd>

        <dt class="col-sm-2">Roles</dt>
        <dd class="col-sm-10">@string.Join(", ", User.Roles)</dd>
    </dl>

    @if (User.Roles.Contains(Roles.Teacher))
    {
        <h4>Teacher Details</h4>
        <dl class="row">
            <dt class="col-sm-2">Care Groups</dt>
            <dd class="col-sm-10">
                <ul>
                    @if (User.CareGroups == null || !User.CareGroups.Any())
                    {
                        <li>No care groups assigned.</li>
                    }
                    else
                    {
                        @foreach (var cg in User.CareGroups)
                        {
                            <li>@cg.Name</li>
                        }
                    }

                </ul>
            </dd>

            <dt class="col-sm-2">Register Classes</dt>
            <dd class="col-sm-10">
                @if (User.RegisterClasses == null || !User.RegisterClasses.Any())
                {
                    <p>No register classes.</p>
                }
                else
                {
                    <ul>
                        @foreach (var rc in User.RegisterClasses)
                        {
                            <li>@rc.Name (Grade: @rc.SchoolGrade?.SystemGrade.Name)</li>
                        }
                    </ul>
                }
            </dd>

            <dt class="col-sm-2">Periods</dt>
            <dd class="col-sm-10">

                @if (User.Periods == null || !User.Periods.Any())
                {
                    <p>No periods assigned.</p>
                }
                else
                {
                    <ul>
                        @foreach (var period in User.Periods)
                        {
                            <li>@($"{period.StartTime} - {period.EndTime}")</li>
                        }
                    </ul>
                }
            </dd>
        </dl>
    }

    <button class="btn btn-secondary" @onclick="GoBack">Back</button>
}

@code {
    [Parameter]
    public Guid UserId { get; set; }

    private User? User;

    protected override async Task OnInitializedAsync()
    {
        User = await UserService.GetByIdAsync(UserId);
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/users");
    }
}
